build/WATCHDOG_v2.1.3_hardened_versioned/Analysis-00.toc
build/WATCHDOG_v2.1.3_hardened_versioned/base_library.zip
build/WATCHDOG_v2.1.3_hardened_versioned/COLLECT-00.toc
build/WATCHDOG_v2.1.3_hardened_versioned/EXE-00.toc
build/WATCHDOG_v2.1.3_hardened_versioned/PKG-00.toc
build/WATCHDOG_v2.1.3_hardened_versioned/PYZ-00.pyz
build/WATCHDOG_v2.1.3_hardened_versioned/PYZ-00.toc
build/WATCHDOG_v2.1.3_hardened_versioned/warn-WATCHDOG_v2.1.3_hardened_versioned.txt
build/WATCHDOG_v2.1.3_hardened_versioned/WATCHDOG_v2.1.3_hardened_versioned.exe
build/WATCHDOG_v2.1.3_hardened_versioned/WATCHDOG_v2.1.3_hardened_versioned.pkg
build/WATCHDOG_v2.1.3_hardened_versioned/xref-WATCHDOG_v2.1.3_hardened_versioned.html
build/WATCHDOG_v2.1.3_hardened_versioned/localpycs/pyimod01_archive.pyc
build/WATCHDOG_v2.1.3_hardened_versioned/localpycs/pyimod02_importers.pyc
build/WATCHDOG_v2.1.3_hardened_versioned/localpycs/pyimod03_ctypes.pyc
build/WATCHDOG_v2.1.3_hardened_versioned/localpycs/pyimod04_pywin32.pyc
build/WATCHDOG_v2.1.3_hardened_versioned/localpycs/struct.pyc
build/Watchdog/Analysis-00.toc
build/Watchdog/base_library.zip
build/Watchdog/EXE-00.toc
build/Watchdog/PKG-00.toc
build/Watchdog/Watchdog.pkg
build/Watchdog/xref-Watchdog.html
dist/WATCHDOG_v2.1.3_hardened_versioned/WATCHDOG_v2.1.3_hardened_versioned.exe
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/_bz2.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/_ctypes.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/_decimal.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/_hashlib.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/_lzma.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/_queue.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/_socket.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/_ssl.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-console-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-datetime-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-debug-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-errorhandling-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-fibers-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-file-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-file-l1-2-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-file-l2-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-handle-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-heap-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-interlocked-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-libraryloader-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-localization-l1-2-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-memory-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-namedpipe-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-processenvironment-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-processthreads-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-processthreads-l1-1-1.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-profile-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-rtlsupport-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-string-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-synch-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-synch-l1-2-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-sysinfo-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-timezone-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-core-util-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-crt-conio-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-crt-convert-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-crt-environment-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-crt-filesystem-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-crt-heap-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-crt-locale-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-crt-math-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-crt-process-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-crt-runtime-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-crt-stdio-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-crt-string-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-crt-time-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/api-ms-win-crt-utility-l1-1-0.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/base_library.zip
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/libcrypto-3.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/libffi-8.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/libssl-3.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/python3.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/python313.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/select.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/ucrtbase.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/unicodedata.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/VCRUNTIME140_1.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/VCRUNTIME140.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/MSVCP140_1.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/MSVCP140_2.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/MSVCP140.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/opengl32sw.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/pyside6.abi3.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/Qt6Core.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/Qt6Gui.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/Qt6Network.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/Qt6OpenGL.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/Qt6Pdf.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/Qt6Qml.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/Qt6QmlMeta.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/Qt6QmlModels.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/Qt6QmlWorkerScript.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/Qt6Quick.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/Qt6Svg.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/Qt6VirtualKeyboard.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/Qt6Widgets.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/QtCore.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/QtGui.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/QtNetwork.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/QtWidgets.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/VCRUNTIME140_1.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/VCRUNTIME140.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/generic/qtuiotouchplugin.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/iconengines/qsvgicon.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/imageformats/qgif.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/imageformats/qicns.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/imageformats/qico.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/imageformats/qjpeg.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/imageformats/qpdf.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/imageformats/qsvg.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/imageformats/qtga.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/imageformats/qtiff.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/imageformats/qwbmp.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/imageformats/qwebp.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/networkinformation/qnetworklistmanager.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/platforminputcontexts/qtvirtualkeyboardplugin.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/platforms/qdirect2d.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/platforms/qminimal.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/platforms/qoffscreen.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/platforms/qwindows.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/styles/qmodernwindowsstyle.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/tls/qcertonlybackend.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/tls/qopensslbackend.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/plugins/tls/qschannelbackend.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_ar.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_bg.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_ca.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_cs.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_da.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_de.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_en.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_es.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_fa.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_fi.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_fr.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_gd.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_gl.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_he.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_ar.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_bg.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_ca.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_cs.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_da.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_de.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_en.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_es.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_fr.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_gl.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_hr.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_hu.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_it.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_ja.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_ka.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_ko.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_nl.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_nn.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_pl.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_pt_BR.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_ru.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_sk.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_sl.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_sv.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_tr.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_uk.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_zh_CN.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_help_zh_TW.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_hr.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_hu.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_it.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_ja.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_ka.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_ko.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_lg.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_lt.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_lv.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_nl.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_nn.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_pl.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_pt_BR.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_pt_PT.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_ru.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_sk.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_sl.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_sv.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_tr.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_uk.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_zh_CN.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qt_zh_TW.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_ar.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_bg.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_ca.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_cs.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_da.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_de.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_en.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_es.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_fa.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_fi.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_fr.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_gd.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_he.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_hr.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_hu.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_it.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_ja.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_ka.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_ko.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_lg.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_lv.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_nl.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_nn.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_pl.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_pt_BR.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_ru.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_sk.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_sv.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_tr.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_uk.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_zh_CN.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/PySide6/translations/qtbase_zh_TW.qm
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/shiboken6/MSVCP140.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/shiboken6/Shiboken.pyd
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/shiboken6/shiboken6.abi3.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/shiboken6/VCRUNTIME140_1.dll
dist/WATCHDOG_v2.1.3_hardened_versioned/_internal/shiboken6/VCRUNTIME140.dll
build.bat
build/Watchdog/Analysis-00.toc
build/Watchdog/base_library.zip
build/Watchdog/EXE-00.toc
build/Watchdog/PKG-00.toc
build/Watchdog/Watchdog.pkg
build/Watchdog/xref-Watchdog.html
build/Watchdog/Analysis-00.toc
build/Watchdog/base_library.zip
build/Watchdog/EXE-00.toc
build/Watchdog/PKG-00.toc
build/Watchdog/Watchdog.pkg
build/Watchdog/xref-Watchdog.html
build/Watchdog/Analysis-00.toc
build/Watchdog/base_library.zip
build/Watchdog/EXE-00.toc
build/Watchdog/PKG-00.toc
build/Watchdog/PYZ-00.pyz
build/Watchdog/PYZ-00.toc
build/Watchdog/warn-Watchdog.txt
build/Watchdog/Watchdog.pkg
build/Watchdog/xref-Watchdog.html
build/Watchdog/localpycs/pyimod01_archive.pyc
build/Watchdog/localpycs/pyimod02_importers.pyc
build/Watchdog/localpycs/pyimod03_ctypes.pyc
build/Watchdog/localpycs/pyimod04_pywin32.pyc
build/Watchdog/localpycs/struct.pyc
build/Watchdog/Analysis-00.toc
build/Watchdog/base_library.zip
build/Watchdog/EXE-00.toc
build/Watchdog/PKG-00.toc
build/Watchdog/Watchdog.pkg
build/Watchdog/xref-Watchdog.html
build/Watchdog/Analysis-00.toc
build/Watchdog/base_library.zip
build/Watchdog/EXE-00.toc
build/Watchdog/PKG-00.toc
build/Watchdog/Watchdog.pkg
